/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    /* font-size: 100%; */
    /* font: inherit; */
    /* vertical-align: baseline; */
}

p {}

modal-box p {
    margin-top: 35px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#101010,#070021,#101010);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.banner__imagem {
    width: 100%;
}

.banner__titulo {
    color: #ffffff;
    font-size: 2.5rem;
    width: 350px;
    line-height: 50px;
    position: absolute;
    top: 80px;
    left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 8px 8px black;
}                   

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 4rem 0;
}

.cabecalho__busca {
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(45deg, #0300518d,#7B78E5);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 2px;
    width: auto;
    box-shadow: 0px 0px 8px rgb(0, 35, 160);
}
    
.busca__fundo {
    align-items: center;
    background-color: #0f0f0f;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.busca__input {
    align-items: center;
    background-color: transparent;
    border: none !important;
    font-size: 1rem;
    height: 24px;
    padding: 10px;
    width: 500px;
    color: white;
    outline: none;
}
.botao_busca{
    background-color: transparent;
    border: none;   
}



.busca__icone {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    margin-top: -1.5rem;
    position: absolute;
    margin-left: -3rem;
}

.cards {
    width: 100%;
   
}



.cards__titulo {
    color: #7B78E5;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.704);
    letter-spacing: 3px;
}

.cards__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px #00000050;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    position: relative;
    width: 450px;
}

.card__imagem {
    width: 50%;
    border-radius: 10px;
    
    box-shadow: 0px 0px 8px #7471d9;
}

.card__tag {
    background-color: #D9D9D940;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    left: 310px;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
    box-shadow: 0px 0px 8px #7471d9;
}

.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
    border: 1px solid transparent;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #7471d9;
    background-image: linear-gradient(30deg, #454383,rgba(0, 0, 0, 0));
    border-left: 0px;
   
}

li {
    
    padding: 0.75rem;
  
    margin-top: 2rem;
     transition: 0.5s ease-out;
     border: 1px solid rgb(45, 45, 45);
}
li:hover{

    cursor: pointer;
    transition: 0.2s ease-in-out;
      
      box-shadow: 10px 10px 10px #7571d957;
      border: 1px solid #7471d9;
}

.card__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__texto img {
    cursor: pointer;
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

.galeria {
    display: flex;
    width: 100%;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem__conteudo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    width: 950px;
}

.imagem__imagem {
    width: 100%;
    border-radius: 20px;
}

.imagem__info {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.imagem__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.imagem__titulo {
    font-weight: bold;
    line-height: 2rem;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 16pt;
}

.imagem__texto {
    font-size: 1rem;
    
}
.imagem__descricao {
    margin-top: 20px;
}

.imagem__descricao p {
  background-color: #070120;
  padding: 16px;
  margin-bottom: 30px;
  border-left: 5px solid #7370d9;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  font-size: 1rem;
  line-height: 1.7;
  color: #ffffff;
  box-shadow: 0px 0px 8px #7370d9;
}



.imagem__legenda{
       font-size: 1rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 1.6;
    font-weight: bold;
    font-style: italic;
}

.menu-lateral {
    padding-right: 1.5rem;
    box-sizing: border-box;
    min-width: 270px;
}
.menu-lateral a{
    transition: 0.5s ease-out;
}

.menu-lateral a:hover{
    color: #7471d9;
    transition: 0.2s ease-in-out;
}

.menu-lateral__navegacao {
    display: flex;
    flex-direction: column;
}

.menu-lateral__navegacao a {
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #D9D9D9;
    font-size: 24px;
}

.menu-lateral__navegacao a:first-child {
    font-weight: bold;
    color: #7B78E5;
}

.menu-lateral__navegacao img {
    margin-right: 1.5rem;
}

.pagina-inicial {
    max-width: 1440px;
    padding: 1.5rem;
    margin: 0 auto;
}

.populares {
    margin-left: 1.5rem;
}

.populares__titulo {
    font-size: 2rem;
    color: #7B78E5;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.populares__imagens {
    display: flex;
    flex-direction: column;
}

.populares__imagem {
    margin-bottom: 1.5rem;
}

.populares__botao {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg, #C98CF1,#7B78E5);
    padding: 2px;
    box-sizing: border-box;
}

.populares__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #082D5C;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .5s;
}

.populares__link:hover {
    background: transparent;
}

.principal {
    display: flex;
    justify-content: space-between;
}
.div_imagem-logos{
    display: flex;
    margin-left: 4.37rem;
    
}

.div_imagem-logos img{
    filter: grayscale(100%);
    transition: 0.5s linear;
}
.div_imagem-logos img:hover{
    filter: grayscale(0%);
    cursor: pointer;
    transition: 0.5s linear;
}





.imagem_logo_foot{
    display: flex;
    align-items: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0.62rem;
    

}
.imagem_logo_foot_a{
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.6rem;
    margin-top: 0.4rem;
    border-radius: 15px;
}
.imagem_logo_foot_L{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.6rem;
    padding-top: 0rem;

}
.rodape {
    background-image: linear-gradient(20deg, #0D0B16,#0F0D14);
    border-top: 1px solid #7571d972;
    box-shadow: 0px 0px 8px #7471d9
   
}



.rodape__icones {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.rodape__texto {    
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 8px 8px #024c7aa6;;
}

.tags {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    font-size: 1.3rem;
}

.tags__titulo {
    margin-right: 4rem;
}

.tags__lista {
    display: flex;
}

.tags__tag {
    background-color: #D9D9D930;
    margin-right: 1.5rem;
    border-radius: 8px;
    padding: .8rem .5rem;
    width: 100px;
    text-align: center;
    border: 2px solid transparent;
    color: white;
    transition: 0.2s linear;
}

.tags__tag:hover  {
    border: 2px solid #7B78E5;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.2s linear;
    
}
.tags__tag a {
color: rgba(255, 255, 255, 0.405);
transition: 0.2s linear;
text-decoration: none;
}

.tags__tag:hover a{
    color: whitesmoke;
    transition: 0.2s linear;
    
}


/* USUARIOS LOGIN HTML E CADASTRO HTML */

.div-form-login{
    padding: 4rem;
    margin: 14.5rem;
    width: 100%;
    display: flex;
    left: -8rem;
    position: relative;
    top: -8rem;
    color: #837AE6;
    background-image: linear-gradient(10deg,#09041e,#45438332);
    border-radius: 15px;
    border: 1px solid #7b77e6;
    box-shadow: 1px 1px 30px #030379;
    text-shadow: 0px 0px 2px white;
    text-transform: uppercase;
}
.error-text{
      color: red;
  font-size: 0.9em;
  margin-top: 10px;
  margin-left: 1rem;
  text-shadow: 0px 0px 2px red;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
    animation: fadeIn 0.5s ease forwards;
  opacity: 0;

}




@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.modal-box {
    position: absolute;
    height: 18.75rem;
     background-image: linear-gradient(10deg,black,#0a0031);
    color: green;
    padding: 1.87rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #7b77e6;
    width: 37.5rem;
    top: 12.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    animation: fadeInBox 1s ease forwards;

}

@keyframes fadeInBox {
  to {
    opacity: 1;
  }
}


.modal-box p{
    margin-top: 100px;
    text-shadow: 0px 0px 2px #000000
}

.modal-box button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
width: 150px;
    box-shadow: 0px 0px 20px green
    
    
}

.modal-box button:hover {
  background-color: #00b700;
  cursor: pointer;
}

.custom-alert.error {
  background-color: #dc3545;
}

.close-alert {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}



.div-inputs_labels-login input{
    padding: 0.5rem;
    margin-top: 2rem;
    display: flex;
    width: 31.26rem;
    height:2rem;
    border-radius: 5px;
   background-image: linear-gradient(to left, #242349, #1b186b, #242358, #242349);

    border: 1px solid #847BE7;
    color: white;
    box-shadow: 0px 0px 10px #0800f0;
    outline: #7b77e6;
    font-size: 1rem;

}

.div-inputs_labels-login label{
 top: 1rem;
 position: relative;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 letter-spacing: 2px;
 

 
}


.div-botao-login{
    margin-top:3rem;
    width: 100%;
    margin-left: 9rem
}

.div-botao-login button{
    width: 13rem;
    height: 2.5rem;
    border-radius: 5px;
     border: 1px solid #847BE7;
    background-image: linear-gradient(to left, #242349, #1b186b, #242358, #242349);
 
    filter:opacity(55%);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
     box-shadow: 0px 0px 10px #0800f0;
    transition: 0.5s ease-out;
 
}

.div-botao-login button:hover{
    cursor:pointer;
    transition:0.2s ease-in-out;
    filter:opacity(100%);
   
}