{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}



<section class="galeria">
    <div class="cards">








</section>
<div class="div-form-login">
    <form action="" method="">
        <div class="div-inputs_labels-login">
            <label for="usuario">Nome Completo</label>
            <input type="text" placeholder="Usuário" required>

            <label class="senha-login" for="email">E-mail</label>
            <input type="email" required placeholder="E-mail">

            <label class="senha-login" for="password">Senha</label>
            <input type="password" required placeholder="Senha">

            <label class="senha-login" for="password">Cofirme a senha</label>
            <input type="password" required placeholder="Digite sua senha mais uma vez">
            
        </div>
        <div class="div-botao-login">
            <button type="submit">CRIAR CONTA</button>
        </div>

    </form>


</div>

</div>
{% endblock %}