{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}



<section class="galeria">
    <div class="cards">








</section>
<div class="div-form-login"> 
    <form action="" method="">
        {% csrf_token %}
        <div class="div-inputs_labels-login">
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_for_label }}" >{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}
            

           
        </div>
        <div class="div-botao-login">
            <button type="submit" >Entrar</button>
           
        </div>

    </form>


</div>

</div>
{% endblock %}