{% load static %}
<footer class="rodape">
        <div class="div_imagem-logos">
                <a href="https://cursos.alura.com.br/user/gabryelsn2001/fullCertificate/cffc18110623039c69ad8c179f57a41d" target="_blank" ><img class="imagem_logo_foot_a" src="{% static 'assets/imagens/galeria/alura.jpeg' %}" width="" alt="logo Alura"></a>
             
                <a href="https://www.linkedin.com/in/gabryel-siqueira-navarro-137b49354/" target="_blank"><img class="imagem_logo_foot_L" src="{% static 'assets/imagens/galeria/linkedin-icon-free-png.webp' %}" alt="Lgo linkdin"></a>
                   <a href="https://github.com/GabryelNavarro" target="_blank"><img class="imagem_logo_foot" src="{% static 'assets/imagens/galeria/github.png' %}" alt="logo Github"></a>
        
        
        
        
        
        
        
        
        
        </div>


    
</footer>